*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class^="col-"]{
  float: left;
  height: 20vh;
  background-color: #FFC0CB;
  border: 1px solid black;
}

.container{
  width: 80%;
  margin:0 auto;
  border: 1px solid black
}

.container::after{
  display: table;
  clear: both;
  content: "";
}

.col-6 > .container > div{
  border: 1px solid white;
  background-color: #F07F80;
}
